//$backgroundColor: linear-gradient(#c9dbe9 0%, #fff 100%);
$backgroundColor: linear-gradient(#b4ccdf 0%, #d4e7f5 100%);
//$backgroundColor: linear-gradient(#137799 9%,#65b7c6);
//background-image: linear-gradient(#046f94 9%,#65b7c6);

$cloudColor: rgb(255, 255, 255);

$cardBackgroundColor: rgb(255, 255, 255);

$sideSpace: 38px;

$Shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
//background-color: #3e95af;
//background-color:  #046f94;
//background-color:  #58b9c9;